.meet-page {
    max-width: 144rem;
    /* height: 189.5rem; */
    background-color: #FAFAFA;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    max-width: 11.9rem;
    height: 2.8rem;
    margin: 7rem auto;
}

.logo {
    max-width: 11.9rem;
    height: 2.8rem;
}

.navbar {
    max-width: 150.4rem;
    height: 35.8rem;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    transform: translateX(-3.5rem);
}

.navbar-right {
    transform: translateX(3.5rem);

}

.col {
    max-width: 54rem;
    height: 30.4rem;
}

.col-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
}

.navbar-heading {
    max-width: 44.5rem;
    height: 12.8rem;
    color: #28283D;
    font-size: 4.5rem;
    text-align: center;
    line-height: 1;
}

.navbar-para {
    max-width: 54rem;
    height: 5.2rem;
    color: #87879D;
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;

}

.navbar-buttons {
    max-width: 34.8rem;
    height: 5.8rem;
    display: flex;
    gap: 2rem;
}

button {
    color: #ffffff;
    font-size: 1.8rem;
    border-radius: 2.9rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-download {
    width: 19.3rem;
    height: 5.8rem;
    background-color: #4D96A9;
}
.btn-download:hover {
   background-color: #8FE3F9;
}

.btn-download span {
    color: #8FE3F9;
}



.btn-what {
    width: 13.8rem;
    height: 5.8rem;
    background-color: #855FB1;
}
.btn-what:hover {
    background-color:#B18BDD;
}

.hanging {
    max-width: 5.6rem;
    height: 14rem;
    margin: 5rem auto;
    flex-direction: column;
}

.line {
    max-width: 1px;
    height: 8.4rem;
    border: solid #D8D8D8 1px;
    opacity: 25%;
}

.nmbr {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    color: #87879D;
    font-size: 1.5rem;
    border: solid #87879D 1px;
    background-color: #FAFAFA;
}

.middle-photos {
    max-width: 111rem;
    height: 24.2rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.pic {
    max-width: 25.5rem;
    height: 24.2rem;
    overflow: hidden;
    border-radius: 1.5rem;
}

.pic img {
    max-width: 25.5rem;
    height: 24.2rem;
}

.middle-matter {
    max-width: 54rem;
    height: 24rem;
    margin: 12rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    align-items: center;
    position: relative;

}

.matter-h2 {
    max-width: 27.1rem;
    height: 2.6rem;
    color: #4D96A9;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.matter-h1 {
    max-width: 44.5rem;
    height: 8.8rem;
    color: #28283D;
    font-size: 2.2rem;
    line-height: 1;
}

.matter-p {
    max-width: 54rem;
    height: 7.8rem;
    color: #87879D;
    font-size: 1.7rem;
    line-height: 1.5;
}

.nmbr2 {
    position: absolute;
    transform: translateY(20rem);

}

.footer {
    margin: 2rem auto;
    max-width: 144rem;
    height: 30.8rem;
    background: linear-gradient(rgba(77, 150, 169, 0.7), rgba(77, 150, 169, 0.7)),
        url("../assets/desktop/image-footer.jpg");
    background-position: start;
    background-size: cover;
}
.footer-inside{
    width: 111rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.footer-inside-left{
    width: 35rem;
    height: 8rem;
    line-height: 1.2;
    font-size: 2rem;
}
.footer-inside-middle{
    width: 35rem;
    height: 7.8rem;
    line-height: 1.5;
    font-size: 1.7rem;
}
.footer-btn{
    background-color: #855FB1;
}
.footer-btn:hover{
    background-color:#B18BDD;
}
.footer-btn span{
    color:#D9B8FF;
}